.notificationStyle{
        display: flex;
        justify-content: center;
        width: 600px;
        height: auto;
        background-color: #9c27b0; 
        color:aliceblue;
        padding: 10px 20px 10px 20px;
        border-radius: 5px;
        text-transform: uppercase;
}
        
        
        