.CardCartItem {
    display: flex;
    justify-content: space-between;
    width: auto;
    padding: 20px;
    margin: 30px;
    font-size: 10px;
    background-color: papayawhip;
    border: 1px solid #e1e1e1;
    border-radius: 10px;
}

.InfoCartItem {
    margin-right: 50px;
}

.ContainerItemCartItem {
    display: flex;
    justify-content: space-between;
}

.ItemHeaderCartItem {
    display: flex;
    justify-content: space-between;
}

.InfoCartItem {
    font-size: 12px;
    display: flex;
    justify-content: space-between;
}

.ButtonCart{
    display: flex;
    justify-content: center;
}

.ButtonCartItem {
    width: auto;
    padding: 12px;
    font-size: 0.8rem;
    font-weight: 600;
    border-radius: 8px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    background-image: linear-gradient(to right, #322749, #42284d, #52294e, #62294d, #712a4a);
}

.ItemFooterCartItem {
    display: flex;
}